{% block content %} 
    <style>
        {% include './components/content-cell/content-cell.css' %}
    </style> 
    
    <div class="content-cell">
        <div class="content-cell-flex-wpr">
            <div class="chatname-wpr">
                <p>Chat-nameasdasdasdasdasdasdasdasd</p>
            </div>
            <div class="chat-des-wpr">
                <p>Alex: that is pretty cool</p>
            </div>
        </div>
    </div>
{% endblock %}