{% block content %} 
    <style>
        {% include './components/message-history/message-history.css' %}
    </style> 
    
    <div class="message-history">
        <div class="message-sender blow-out">
            <p>William Walker</p>
        </div>
        <div class="message-content blow-out">
            <p>This is a message that I have sent over to you. And I hope you will enjoy seeing this message.</p>
        </div>
    </div>
{% endblock %}