{% block content %} 
    <style>
        {% include './components/friends_list_tile/friends_list_tile.css' %}
    </style> 
    
    <div class="friend_list_row">
        <div class="status">

        </div>
        <div class="friend_user_name">
            <div class="username_wpr">
                <p>William Walker</p>
            </div>
        </div>
    </div>
{% endblock %}