{% block content %} 
    <style>
        {% include './components/chat-title/chat-title.css' %}
    </style> 
    
    <div class="chat-name blow-out">
        <input type="chat_name" name="chat_name" placeholder="chat_name" />
    </div>
{% endblock %}