{% block content %} 
    <style>
        {% include './components/friends-list/btn/btn.css' %}
    </style> 

    <div onclick="open_add_friends()" class="btn-container">
        <div class="main-btn">
            <p>Add Friend</p>
        </div>
    </div>
{% endblock %}