{% extends 'base.jinja' %}

{% block content %} 
   <style>
    nav {
        border-bottom: 1px solid black;
        overflow: auto
    }

    #message_box {
        border: 1px solid black; 
        height: 400px; 
        width: 800px; 
        overflow: auto;
        padding: 2px;
    }

    .text  {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>

    {% include 'websockets.jinja' %}

    <script>
        //var secretKey = "{{ secret_key }}";
        let friend_requests=['bob','alex','fred'];
        let username = "{{ username }}";
        Cookies.set('username', username);
    </script>

    <nav style="border-bottom: 1px solid black;">
        <ol style="float: right">
            <li style="display:inline-block">Username:  {{ username }} </li>
        </ol>
    </nav>

    <h1>Messaging App </h1>

    <main>
        {% include 'chatwindow.jinja' %}
        <br>
        <section id="friends_box">
            {% include 'friends.jinja' %}
        </section>
        <button onclick="relay('Hello how are you','test')">Send Dummy Message</button>
        <button onclick="send_friend_request_socket('test')">Send Friend Request to User test2</button>
    </main>


{% endblock %}
