{% extends 'base.jinja' %}

{% block content %} 
    <style>
        {% include './home.css' %}
    </style>

    <script src="/static/js/libs/socket.io.min.js"></script>
    <script>

        const secret_key = sessionStorage.getItem("key");
        const user_hash = sessionStorage.getItem("user_hash");
        const user_name = sessionStorage.getItem("username");

        document.cookie = "username="+user_name;
        document.cookie = "user_hash="+user_hash;

        const socket = io();
    </script>

    <body>
        <div id="header_wpr">
            {% include './components/header/header.jinja' %}
        </div>
        <div id="body_wpr">


            <div class="right_side_line" id="side_bar_wpr">
                {% include './components/friends-list/friends-list.jinja' %}
            </div>
            <div id="main_content_wpr">
                <div class="right_side_line" id="dynamic_sidebar">
                    {% include './components/sidebar/sidebar.jinja' %}
                </div>
                <div id="dynamic_main">
                    <div id="padding_alt">
                        {% include './components/messager/messager.jinja' %}
                    </div>
                </div>
            </div>


        </div>
    </body>


{% endblock %}
