{% extends 'base.jinja' %}

{% block content %} 
   <style>
    nav {
        border-bottom: 1px solid black;
        overflow: auto
    }

    #message_box {
        border: 1px solid black; 
        height: 400px; 
        width: 800px; 
        overflow: auto;
        padding: 2px;
    }

    .text  {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    #component_division {
        display: flex;
    }

    #component {
        flex: 1;
    }
</style>

    <script>
        let friend_requests=[];
        let username = sessionStorage.getItem("username");
        let user_hash = sessionStorage.getItem("user_hash");

        document.cookie = "username="+username;
        document.cookie = "user_hash="+user_hash;

        document.addEventListener("on")
    </script>

    {% include 'websockets.jinja' %}

    <nav style="border-bottom: 1px solid black;">
        <ol style="float: right">
            <li style="display:inline-block">Username: <span id="user_name_display"></span></li>
        </ol>
    </nav>

    <script>
        document.getElementById("user_name_display").innerText = username; //Very quick fix. Not that this is much better........
    </script>

    <h1>Messaging App </h1>

    <main>
        <div id="component_division">
            <div id="component">
                {% include 'chatwindow.jinja' %}
            </div>
            <div id="component">
                {% include 'friends.jinja' %}
            </div>
        </div>
    </main>


{% endblock %}
