{% extends 'base.jinja' %}

{% block content %} 
    <h1>Login</h1>
    <p>Username</p>
    <input id="username"/>
    <p>Password</p>
    <input id="password"  type="password"/>
    <button onclick="login()">Login</button>

    <script>
        function isValidURL(string) {
            if (string.length == 0) {
                return false;
            }
            if (string[0] == "/") {
                return true;
            }
            return false;
        }

        async function login() {
            sessionStorage.setItem("key", "");
            let loginURL = "{{ url_for('login_user') }}";

            let user_hash = await sha256($("#username").val()+$("#password").val());
            let secret_key = await sha256($("#password").val());
            
            sessionStorage.setItem("key", secret_key);
            sessionStorage.setItem("user_hash", user_hash);
            sessionStorage.setItem("username", $("#username").val());
            
            let res = await axios.post(loginURL, {
                username: $("#username").val(),
                user_hash: user_hash
            });

            console.log(res.data);
            if (res.data['error'] == null) {
                sessionStorage.setItem('token',res.data['access_token']);
                window.open(res.data['redirect'], "_self");
            } else {
                alert(res.data['error']);
            }
        }
    </script>
{% endblock %}
