<!-- 
Sign up page, pretty much the same as login.
-->
{% extends 'base.jinja' %}


{% block content %} 
    <h1>Sign Up</h1>
    <p>User_pog_name</p>
    <input id="username"/>
    <p>Password</p>
    <input id="password" type="password"/>
    <button onclick="signup()">Sign up</button>

    <script>
         function isValidURL(string) {
            if (string.length == 0) {
                return false;
            }
            if (string[0] == "/") {
                return true;
            }
            return false;
        }

        async function signup() {
            let sign_up_url = "{{ url_for('signup_user') }}";

            let user_hash = await sha256($("#username").val()+$("#password").val());
            let shhh_key  = await sha256($("#password").val());

            sessionStorage.setItem("key", shhh_key);
            sessionStorage.setItem("user_hash", user_hash);
            sessionStorage.setItem("username", $("#username").val());

            try {
                let res = await axios.post(sign_up_url, {
                    username: $("#username").val(),
                    password: $("#password").val(),
                    user_hash: user_hash
                });
                if (!isValidURL(res.data)) {
                    alert(res.data);
                    return;
                } else {
                    window.open(res.data, "_self");
                }
            } catch (error) {
                alert("User credientals are not valid")
            }
        }
    </script>
{% endblock %}
