{% block content %} 
    <script src="/static/js/libs/socket.io.min.js"></script>
    <script>
        const socket = io();
        socket.on("error", (msg, color="black") => {
            alert(message);
        })

        function send(message,recipient,type) {
            console.log("Sending message");
            socket.emit(type,JSON.stringify({sender: username, recipient:recipient, message:message}));  
        } 

        function send_friend_request_socket(recipient) {
            send("",recipient,'send_friend_request');
        }

        function send_friend_request_response_socket(recipient,status) {
            send(status,recipient,'send_friend_request_response');
        }
        

        /*
        1: User loads new target username into local variable
        2: User attempts to contact user to perform a key exchange.
        */


    </script>
{% endblock %}
