{% block content %} 
    <script src="/static/js/libs/socket.io.min.js"></script>
    <script>
        console.log(document.cookie);

        const socket = io();
        socket.on("error", (msg, color="black") => {
            alert(msg);
            console.log("there was an error");
            window.open("{{ url_for('index') }}", "_self");
        })
        
        function send(message,recipient,type) {
            var communication = JSON.stringify({sender: username, recipient:recipient, message:message});
            console.log("Sending message",communication);
            socket.emit(type,communication);  
        } 

        function send_friend_request_socket(recipient) {
            send("",recipient,'send_friend_request');
        }

        function send_friend_request_response_socket(recipient,status) {
            send(status,recipient,'send_friend_request_response');
        }

        function get_message_history(recipient) {
            send("",recipient,"get_message_history");
        }
        
        window.onbeforeunload = function () {
            socket.emit('disconnect');
            sessionStorage.setItem("key", "");
            sessionStorage.setItem("user_hash", "");
            sessionStorage.setItem("username", "");
        }

    </script>
{% endblock %}
