{% block content %} 
    <script src="/static/js/libs/socket.io.min.js"></script>
    <script>
        const socket = io();
        socket.on("incoming", (msg, color="black") => {
            console.log(msg);
        })

        socket.on("error", (msg, color="black") => {
            alert(message);
        })

        function send(message,recipient,type) {
            console.log("Sending message");
            socket.emit(type,JSON.stringify({sender: username, recipient:recipient, message:message}));  
        } 

        function relay(message,recipient) {
            console.log("sending relay message");
            send(message,recipient,'relay');
        }

        function send_friend_request_socket(recipient) {
            send("",recipient,'send_friend_request');
        }

        function send_friend_request_response_socket(recipient,status) {
            send(status,recipient,'send_friend_request_response');
        }
        
    </script>
{% endblock %}