

{% block content %}  

    <style>
        {% include './components/messanger-inchat-usertag/messanger-inchat-usertag.css' %}
    </style> 

    <div class="connected-users-wpr blow-out">
        <div class="chat-user">
            <p>William Walker</p>
        </div>
        <div class="chat-user dull-input">
            <input type="add_user" name="add_user" placeholder="ADD USER" />
        </div>
    </div>
{% endblock %}