{% block content %} 
    <style>
        {% include './components/btn/btn.css' %}
    </style> 

    <div class="btn-container">
        <div class="main-btn">
            <p>NEW CHAT</p>
        </div>
    </div>
{% endblock %}