                            
                            
{% block content %}   
    <style>
        {% include './components/messanger-members/messanger-members.css' %}
    </style> 
    
    <div class="chat-members blow-out">
        {% include './components/messanger-inchat-usertag/messanger-inchat-usertag.jinja' %}
    </div>
{% endblock %}